@charset "utf-8";

@font-face{
  font-family:NotoSansCJKkr ;
  src: url(font/NotoSansCJKkr-Regular.otf)
}

*{margin: 0; padding: 0; box-sizing: border-box;}

/* 구버전 익스플로러 시멘틱태그 인식 못함 */
header, nav, footer, article, aside, figcaption, figure, section{
  display: block;
}

/* 폰트 사용*/
body{font-family: NanumSquare, sans-serif; 
      line-height: 1.35;
      font-size: 16px;
      color: #333333;}
ol, ul{list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
a{color: #333333; text-decoration: none;}
img{border: 0; vertical-align: top;}
input, select, button{vertical-align: top;}

